<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Roey Shemla. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/roey_profile_small.png">
    </div>

    {{>footer}}
</body>
</html>